
body, html {
    height: 100%;
    margin: 0;
}


.mun{
    /* The image used */
    background: linear-gradient(45deg,#33b1f8 37%,#6e90f6 100%);

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*header*/
.home-headline-h1{
color: white;
font-size: 48px;
font-weight: 700;
line-height: 56px;
letter-spacing: .3px;
margin-bottom: 8px;
    font-family: Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;

}
.home-headline-h2{
color: rgba(255,255,255,.6);
font-size: 28px;
line-height: 33px;
    font-family: Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;

}
.bull a{
    font-size: 14px;

    color: white;

}
#chan{
    background: rgba(255,255,255,.16);
    box-shadow: inset 0 0 1px 1px rgba(255,255,255,.32);
    border: none;
    border-radius: 40px;
    color: #fff!important;
}


