<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="pricing.css">
</head>
<body>

<header class="main-signup-wrapper">
    <div class="background">
        <div class="rect top-left"></div>
        <div class="rect top-right"></div>
        <div class="rect bottom-left"></div>
        <div class="rect bottom-right"></div>
    </div>

    <div class="headline">
        <div class="headline-content">
            <h1 id="hac">Make your music stronger</h1>
            <h2></h2>
            <p>Discover Flat for free.<br>Subscribe to make the most of it.</p>
            <p>Discover Flat for free.<br>Subscribe to make the most of it.</p>
        </div>
    </div>


    <div class="bkk"></div>
</header>
</body>
</html>



